$color1: #414246;
$color2: #272a31;
$color3: #ec5242;
$color4: #d3d3d3;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 100px;
  height: 50px;
  justify-self: center;
}

body {
  background-image: url("images/bodyBackground.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -300px;
  background-size: cover;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.notVisible {
  display: none;
}

#menuIcon {
  margin: 15px 0px 40px 20px;
  width: 35px;
  align-self: flex-start;
  cursor: pointer;
}

#header {
  padding: 0px 13px 0px 13px;
  #headerMainH2 {
    color: $color3;
    font-weight: 400;
    font-size: 1.3em;
  }
  h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #dc4232;
    line-height: 30px;
    padding-bottom: 20px;
  }
  #headerText1 {
    color: $color1;
    border: 3px solid white;
    background-color: #f5f5f5;
    padding: 15px;
    box-sizing: content-box;
    margin-bottom: 20px;
    font-size: 0.75em;
    line-height: 1.7em;
  }
  #headerH2 {
    color: #565861;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
  }
  #headerText2 {
    color: #565861;
    font-weight: 400;
    font-size: 0.8em;
    text-align: center;
  }
}

#mainSelector {
  background-image: url("images/mainBackground.png");
  padding: 20px;
  margin-top: 75px;
  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #dc4232;
    font-size: medium;
  }
  .whiteTittle {
    font-family: "lato", sans-serif;
    font-size: large;
    color: white;
  }
  .mainCard {
    align-items: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 6fr;
    gap: 20px;
    padding: 15px;
    background-color: rgba($color: $color1, $alpha: 0.7);
    img {
      height: 50px;
    }
    p {
      color: white;
      padding: 15px;
      font-size: 0.75em;
      line-height: 1.7em;
    }
  }
  #mainAnchor {
    text-decoration: none;
    background-color: $color3;
    color: #f5f5f5;
    width: 270px;
    height: 40px;
  }
}
#partners {
  background-color: $color1;
  #partnersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    p {
      margin: 13px;
      font-size: large;
      color: $color4;
      opacity: 0.7;
    }
    #kyp {
      font-weight: 900;
      color: #ffffff;
    }
    #google {
      font-family: "lato";
      font-weight: 400;
    }
    #parnerTree {
      font-weight: 900;
      font-family: Arial, sans-serif;
    }
    #partnerFour {
      font-family: "Oswald", sans-serif;
    }
  }
}

#mainOrganization {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  color: $color1;
  padding: 15px;
  box-sizing: content-box;
  margin-bottom: 20px;
  font-size: 0.5em;
}

.whiteTittle {
  font-family: "lato", sans-serif;
  font-size: large;
  color: white;
}

.underscore {
  border-bottom: 2px solid #ec5242;
  width: 50px;
}

/* Dynamic elements style */
#dynamicNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("images/bodyBackground.png");
  align-items: center;
  z-index: 2;
  color: $color1;
  font-size: 32px;
  font-weight: 600;
  line-height: 70px;
  overflow: scroll;
  a {
    text-decoration: none;

    color: #3a4a42;
  }
}

#closerIcon {
  align-self: flex-end;
  width: 25px;
  margin: 15px 15px 0 0;
  cursor: pointer;
}

/*  About page*/
#aboutHeaderText1 {
  color: $color1;
  background-color: white;
  padding: 15px;
  box-sizing: content-box;
  margin-bottom: 20px;
  font-size: 0.75em;
  line-height: 1.7em;
  justify-self: center;
}

#aboutMain {
  background-color: white;
  padding: 35px 15px 35px 15px;
  margin-top: 35px;
  text-align: center;
  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  p {
    font-size: 0.8em;
    color: $color1;
  }
  #projectOne {
    width: 300px;
    height: 200px;
    background-image: url("images/aboutImageOne.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    p {
      color: #ffffff;
    }
  }
  #projectTwo {
    width: 300px;
    height: 200px;
    background-image: url("images/aboutImageTwo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    p {
      color: #ffffff;
    }
  }
}
