$color1: #414246;
$color2: #272a31;
$color3: #ec5242;
$color4: #d3d3d3;

body {
  background-position-y: 0px;
}
#mainContainer {
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}

#mainSelector {
  .mainCard {
    grid-template: auto auto auto/ auto;
    gap: 10px;
    justify-content: end;
  }
  .center {
    justify-self: center;
    text-align: center;
  }
}

#menuIcon {
  display: none;
}

#nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  #pageInfo {
    background-color: $color1;
    display: flex;
    padding-right: 100px;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: white;
      margin: 10px;
    }
  }
  #desktopMenu {
    box-sizing: content-box;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding-right: 50px;
    a {
      text-decoration: none;
      color: $color1;
      opacity: 0.7;
    }
    img {
      margin-left: 50px;
      margin-right: 50px;
    }
    #navCCCamping {
      border: 5px solid $color3;
      box-sizing: content-box;
      padding: 7px;
    }
  }
}

#images {
  display: flex;
  gap: 20px;
}

#featuredCardsContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 35px;
}

#images {
  flex-direction: row;
}
